
html, body {
    height: 100%;
    margin:0;
}

body {
    background: url(../images/old_map/old_map.png);
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
        
}

header {
    text-size-adjust: 50;
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: #ffffff;
    border: 10px;
    border-color: #666666;
    overflow: auto;
    width: 100%;
    position: static;
}

section {
    background-color: #ffffff;
    border: 1px;
    border-color: #666666;
    border-style: solid;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 5%;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

footer {
    background-color: #666666;
    color: #ffffff;
    text-align: center;
    border-top: 10px;
    border-color: #4aaaa5;
    border-style: solid;        
    padding-top: 20px;
    padding-bottom: 10px;
    width: 100%;
    position: static;
}

footer,
.push {
    height: 55px;
}

h1 { 
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

input {
    width: 75%;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -55px;
}

.heading {
    width: 100%;
    float: left;
    background-color: #4aaaa5;
    text-align: center;
        
}

.links1 {
    float: left;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    border-bottom: 10px;
    border-color: #666666;
}

.clearfix:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.bodywrap {
    width: 93%;
    margin: 0 auto;
    

}

.about {
    color: #4aaaa5;
}

.Image1 {
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
    position: relative;
}

.Image2 {
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
    position: relative;
}
.Image3 {
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
    position: relative;
}
.Image4 {
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
    position: relative;

}.Image5 {
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
    position: relative;
}

.text-block1 {
    position:absolute;
    background-color: #4aaaa5;
    color: #ffffff;
    top: 100px;
    width: 100%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.text-block2 {
    position:absolute;
    background-color: #4aaaa5;
    color: #ffffff;
    top: 100px;
    width: 100%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.text-block3 {
    position:absolute;
    background-color: #4aaaa5;
    color: #ffffff;
    top: 100px;
    width: 100%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.text-block4 {
    position:absolute;
    background-color: #4aaaa5;
    color: #ffffff;
    top: 100px;
    width: 100%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.text-block5 {
    position:absolute;
    background-color: #4aaaa5;
    color: #ffffff;
    top: 100px;
    width: 100%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.line {
    color: #666666;
}

#shrek {
    display: block;
    width: 70%;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}


@media screen and (min-width:641px) {

.heading {
    width: auto;
    margin-left: 10%;
    padding-left: 15px;
    padding-right: 15px;
}

.links1 {
    width: auto;
    text-align: right;
    float: right;
    margin-right: 10%;
    margin-top: 25px;
}

#shrek {
    width: 33%;
    margin-right: 10px;
    float: left;
}

}
@media screen and (min-width:769px){

section {
    width: 680px;
    margin-left: 17px;
}
}